@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
@font-face {
font-family: ‘Antipasto’;
   src: url('../fonts/antipasto.eot');
   src: url('../fonts/antipasto.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antipasto.woff') format('woff'),
        url('../fonts/antipasto.ttf') format('truetype'),
        url('../fonts/antipasto.svg#adlerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: ‘Roboto’;
   src: url('../fonts/roboto-regular.eot');
   src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular.woff') format('woff'),
        url('../fonts/roboto-regular.ttf') format('truetype'),
        url('../fonts/roboto-regular.svg#adlerRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
    font-size: 14px;
    color: #797979 !important;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    font-family: ‘Roboto’, sans-serif !important;
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: #17304f !important;
    color: white !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #17304f !important;
}
.dropdown-menu {
    background-color: #204478 !important;
}
.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu1 {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu1 ul {
    margin-bottom: 0;
}
.menu1 a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu1 a:hover {
    text-decoration: none;
    opacity: 1;
}
#imagen-centro{
display: inline;
}
#algo-centro{
    margin: 0 auto;
}
/*FILTROS DESPLEGABLES*/
#drop-tit{
    text-align: left;
}
/*MENU*/
/*LOGO*/

#img-logo{
    margin-left: 50px;
}
#img-logo{
    padding: 5px;
}


.nav > li {
    font-size: 16px;
}
.parrafo{
    font-family: ‘Roboto’;
    font-size: 14pt;
    padding-bottom: 30px;
}
 .banner-publicidad{
    background-color: #4b98dd;
 }
/*EDITAR PERFIL*/
.perfil-cuadro{
  background-color: #204478;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18pt;
  padding: 10px 0px;
}
 /*TIMER*/
 #regEmpMic{
    display: inline;
 }
 .menu-timer{
    background-color: transparent;
    margin-bottom: 20px;

 }
 .timer-iconos{
    color: #204478;
    font-size: 30pt !important;
    margin-right: 20px;
    margin-top: 10px;
 }
 .timer-bloque{
    /*background-image: url(../img/bloque-01.png);
    background-repeat: no-repeat;
*/
 }
 .wraper{
        padding: 4% 4% 0% 4%;
        color: #fff;
}
 .texto-timer{
    color: #204478;
    font-size: 35pt;
    text-align: right;
    font-family: ‘Antipasto’;
 }
 .second-text-timer{
    color: #2d2d2d;
    font-family: ‘Antipasto’;
    text-align: center;
    font-size: 20pt;
    border: 2px solid #2d2d2d;
    padding: 20px;
    margin-top: 20px;
    
 }
 .timer{
    font-family: ‘Antipasto’;
    font-size: 100pt;
    color: #424242;
    border: none
 }

 .timer>li>p{
    color: #424242;
}
 .timer>li>span{

    border-bottom: 3px solid #424242;
 }
 .timer-bloque>img{
    float: right;
 }


#prox{
        font-size: 100pt;
    }
/*-------------------------------------------------------------
 * Countdown
 *-------------------------------------------------------------*/


#back-countdiown{
    padding: 0;
}

#back-countdiown li {
    display: inline-block;
    text-align: center;
    position: relative;
}
/*MODAL HOJA DE VIDA*/
.titulo-modal-hoja{
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}
.hoja-archivo {
    padding-top: 20px;
    text-align: center;
    font-style: italic;
}
.redes-mic {
    width: 40px;
    border-radius: 50%;
}

/*PANTALLAS PEQUEÑAS*/
@media screen and (max-width:600px){
    #back-countdiown li{
       margin-bottom: 20px;
    }
    #prox{
        font-size: 30pt;
    }
    .texto-canea{
        font-size: 14pt;
    }
    #btn-rojo{
        font-size: 10pt;
    }
    .imagen{
    width: 40px;
    }
    .canea-text-modal{
        font-size: 40pt;
    }
    .padding-5{
        padding: 5px 0px;
    }
    .izq{
        border: 1px solid #204478

    }
    .der{
        border: 1px solid #204478
    }
    .cen{
        border: 1px solid #204478
    }
    .btn-min-light{
        padding: 10px 10px;
    }

    .btn-blue{
        padding: 10px 10px;
    }
}

/*PANTALLAS MEDIANAS*/
@media only screen and (max-width:1000px) and (min-width:481px){
    .qs-mv{
        margin-top: 80px;
    }

    #prox{
        font-size: 50pt;
    }
    .texto-canea{
        font-size: 14pt;
    }#btn-rojo{
        font-size: 16pt;
    }
    .imagen{
        width: 40px;
    }
    .canea-text-modal{
        font-size: 100pt;

    }
    .izq{
        border: 1px solid #204478

    }
    .der{
        border: 1px solid #204478
    }
    .cen{
        border: 1px solid #204478
    }

    .btn-min-light{
        padding: 10px 30px;
    }

    .btn-blue{
        padding: 10px 30px;
    }
}
/*PANTALLAS GRANDES*/
@media only screen and (min-width:1000px){

    .qs-mv{
        margin-top: 80px;
    }

    #bloque-car{
        height: 170px;
    }
   .vel-titulo{
    font-size: 30pt;
}
.canea-text-modal{
        font-size: 150pt;

        margin-top: -40px;
    }
#btn-rojo{
        font-size: 16pt;
    }
    .texto-canea{
        font-size: 18pt;
    }
    .imagen{
        width: 70px;
    }

    .btn-min-light{
        padding: 10px 30px;
    }

    .btn-blue{
        padding: 10px 30px;
    }

}


#back-countdiown li:last-child {
  margin-right: 0
}
#back-countdiown li p{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}
#back-countdiown li span:hover {
    cursor: pointer;
}
/*END TIMER*/




.navbar-default
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #204478;
  color: white;
}

/*li:has(> ul.nav){
    padding: 0px !important;
    margin: 0px !important;
    color: red;
}*/
/*.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 0px;
}*/

/*.dropdown-toggle{padding-bottom: 0px;}*/
.dropdown>.dropdown-toggle{
    padding-bottom: 0px;
}
/*MENU*/
.btn-menu-active{
   border-bottom: 1px solid #fff; 
   /*position: absolute;*/
}
.product{
    margin-top: 100px;
}
/*REGISTRO*/
@media (min-width: 768px) {
  .container {
    /*width: 75%;*/
    /*width: 970px;*/
  }
}
.registro-cuadro{
    background-color: #204478;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}
#registro-algo-centro{
    margin: 0 auto;
    background-color: #204478;

}
 .reg-cuadro{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;


 }
  .acceso-social{
    color:white;
    background-color: #4b95da;
    font-size: 15pt !important;
    width: 50px;
    height: 50px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
 }
 .registro-titulo{
    text-align: center;
    font-size: 30px;
    color: #495057;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   margin-top: 20px;
   margin-bottom: 20px; 


 }
 .register-formulario {
    padding: 20px;
}
.subt-registro>label{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 16px;
   text-align: center;
   font-weight: normal;
}
/*BANNER FOTO*/
.cuadro-banner{
    border: 2px solid #4b98dd;
    display: table;
    padding: 40px 20px 40px 20px;
    margin: 30px 20px 30px 20px;
}
.cuadro-banner>div>p{
    font-family: ‘Antipasto’;
    color: #204478;
    font-size: 35pt;
    border-bottom: 1px solid #204478;
    line-height: 50px !important;
}
#foto-banner{
    padding: 0;
}
#cuadro-celeste{
    background-color: #4b98dd;
    margin-top: 20px;
    color: white;
}
#cuadro-celeste:hover{
    color: #4b98dd;
    border: 2px solid #4b98dd;
    background-color: transparent;
}

@media screen and (max-width: 1000px) {
    .ocultar{
        display:none;
    }

    .canea-text{
        font-size: 90pt;
    }

}




.carousel-control          { width:  4%; }
.carousel-control.left,.carousel-control.right {

  margin-left:15px;
}

@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev    { left: -100%; }
  .active > div {display:none;}
  .active > div:first-child {display:block;}

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev    { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -16.7%; }
  .carousel-inner .next        { left:  16.7%; }
  .carousel-inner .prev    { left: -16.7%; }  
}


.carousel-xs{
  width: 25%;
  margin: 0 auto;
}



/*OFERTAS DE EMPLEO-CANDIDATO*/
#texto-empleo{
}
.empleo-icono{
    color: #686868;
    font-size: 30pt !important;

}
#empleo-2{
    font-weight: bold;
}
/*CANEA QUE ES*/
.texto-canea{
    text-align: center;
    font-family: ‘Antipasto’;
    text-transform: uppercase;

    color: #204478;
    margin-bottom: 30px;
}
/*VELOCIMETRO*/
.velocimetro{
    background-color: white;
    width: 100%;
}
.vel-titulo{
    text-transform: uppercase;
    color: #828181;
    font-weight: bold;
}
.vel-titulo-din{
    color: #61af6a;
    font-size: 40pt;
    font-weight: bolder;
}
.vel-subt{
    font-family: ‘Antipasto’;
    font-size: 30pt;
    color:#424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vel-caja{
    background-color: #0b66a9;
    text-align: center;
margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.vel-titulo-1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22pt;
}
.vel-subt-1{
    color: white;
    font-size: 18pt;
}
#btn-vel{
    text-transform: uppercase;
    font-size: 24pt;
    padding: 10px 40px;
    margin: 20px;
    vertical-align: middle;
}
#caja-centro{
        margin: 0 auto;
    display: inline-flex;      
}
/*PLANES*/
.plan-tabla{
    padding: 1px;
}
.plan-dias{
    color: #182e4f;
    font-weight: bold;
    font-size: 20pt;
    text-transform: uppercase;
}
.plan-precio{
    color: #204478;
    font-weight: bold;
    font-size: 40pt;
}
#plan-precio-2{
    color: #204478;
    font-weight: bold;
    font-size: 45pt;
}
.select-plan{
    margin: 20px 30px;
}
.lista-plan{
    color: #4b94d9;
    margin-left: 30px;
    padding-right: 20px;
    text-align: justify;
}
.lista-plan-2{
    color: #6b6b6b;
    margin: 0px;
}
.titulo-planes {
    background-color: #204478;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    font-size: 24pt;
    font-weight: bold;
}

.izq{
    border-right: 1px solid #204478

}
.der{
border-left: 1px solid #204478
}
/*DETALLES*/
#btn-verde{
    background-color: #61af6a;
    text-transform: uppercase;
    font-size: 16pt;
    border-radius: 0px;
    padding: 10px 40px;
}
#btn-rojo{
    text-align: center;
    background-color: #ad3131;
    text-transform: uppercase;
    border-radius: 0px;

}
#btn-rojo:hover{
    color: #ad3131;
    background-color: #FFFFFF;
}

#tit-detalle{
    background-color: #204478;

}
#empresa-detalle{
    text-align: center;
    color: #4b98dd;
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 2px solid #4b98dd;
    display: table;
}
.tit-detalle-1{
    font-size: 14pt;
    text-align: center;
}
.subt-detalle{
 font-size: 12pt;   
}
/*INTRO TEST*/
.tit-test{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    color: #848484;
}
.margin-40{
    margin-top: 40px;
}
#img-test{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
/*OFERTA EMPRESA*/
.postulacion-icono-editar{
    text-align: center;
    color:#4b98dd;
    font-size: 30pt !important;
}
.postulacion-icono-postulado{
    color: #ad3131;
    text-align: center;
    font-size: 30pt !important;
}
/*POSTULACIONES*/
.caja-postulaciones{
    border-radius: 5%;
    margin: 20px 0px;

     /*border: 1px solid #c50f0f61;*/
}
.titulo-postulaciones{    
    text-transform: uppercase;
    color: white;
    font-family: ‘Roboto’;
    font-size: 20pt;
    background-color: #ad3131;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.titulo-postulaciones-normal{    
    text-transform: uppercase;
    color: white;
    font-family: ‘Roboto’;
    font-size: 20pt;
    background-color: #61af6a;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.ofertaUrgente{
  background: #f5f5f5;
border-radius: 0px 0px 10px 10px;
padding-top: 10px;
  color: #5e5e5e;
}
#postulacion-2{
    padding-top: 10px;
}
/*PRE REGISTRO*/
.camello>img{
    padding-top: 20px;

}
/*POSTULACIONES-CANDIDATO*/
.cargo-postulaciones{
    color: #383838;
    font-family: ‘Roboto’;
    text-align: center;
    font-style: italic;
    margin-top: 5px;

}
.texto-postulaciones{
    color: #5e5e5e;
    font-family: 'Roboto';
    text-align: left;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.postulacion-icono-ver{
    text-align: center;
    color:#61af6a;
    font-size: 30pt !important;
}
.postulacion-icono-basura{
    text-align: center;
    color:#ad3131;
    font-size: 30pt !important;
}
.postulacion-icono{
    text-align: center;
    font-size: 30pt !important;
}
.icono-aprobado{
    color: #61af6a;
}
.icono-por-aprobar{
    color: #c1c1c1;
}
#tipo-plan{
    padding: 10px 10px 10px 20px;
    background-color: #e5e5e5;
    color: #afafaf;
    font-family: ‘Roboto’;
    font-weight: bold;
    font-size: 12pt;
    margin: 0;
    text-transform: uppercase;

}
#caracteristica_oferta{
        padding: 10px 20px 0px 20px;
}
#tipo-empresa{
    color: #686868;
    margin-bottom: 5px;
    font-size: 14pt;
    text-transform: uppercase;
    height: 50px;

}
/*QUIENES SOMOS*/
#margin-b-15{
    margin-bottom: 15px;
}
.qs-text{
    color: #515151;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 15px;
    font-family: ‘Roboto’;
    
}
.qs-text-lista{
    color: #4b94d9;
}
.qs-iconos{
    color: #4b95da;
    font-size: 90pt !important;
}
.qs-subt{
    font-family: ‘Antipasto’;
    color: #204478;
    font-size: 28pt;
    padding-top: 30px;
}

/*.qs-mv{
    
    padding-top: 80px;
}*/
.lista-valores{
    text-align: left;
    margin-left: 20px;

    color: #515151;
}


 .banner-light{
    color: white;
    font-size: 20pt;
    font-family: ‘Roboto’;
    padding-top: 20px;
    
 }
 .banner-light>p{
    margin: 20px;
 }
 .pie-pag{
    font-size: 12pt;
    text-align: left;
    margin: 20px 0px 20px 0px; 
    
    color: #686868;

 }
 nav{
    font-family: 'Raleway', sans-serif;
 }
 footer{
    background-color: #f4f4f4;
 }
 #social-pie{
    margin-right: 5px;
    font-size: 15pt !important;
 }
 #altura-44 {
    height: 44px !important;
}
 .inicio{
    display: block;
    margin-top: 20px;
    padding: 40px 0px 40px 0px;
 }
 #inicio-cuadro{
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .pie-pag>h3{
    color:#686868;
 }
 .pie-pag>p{

    margin-bottom: 5px; 
 }
 .pie-pag>p>a{
    font-size: 15px;
    text-align: left;
 }
.bloque{
    background-color: #204478;
    padding-top: 40px;
}
.cuadrado{
    border: 2px solid #204478;
    margin-left: 50px;
    margin-right: -50px;
    text-align: center;
}
#prueba-e{
    padding: 0;
        margin-left: -15px;
}
.canea-text{
    background-color: transparent;
    text-align: center;
    font-weight: 1000;
    font-size: 170pt;
    font-family: ‘Antipasto’;
    color: #204478;

}
.altura{
    height: 400px;
}
.titulo{
    display: inline-block;
    margin: 0 auto;    
    font-family: ‘Antipasto’;
    font-size: 30pt;
    text-align: center;
    color: #204478;
    border-bottom: 3px solid #204478;
    
}
.titulo-blanco{
    font-family: ‘Antipasto’;
    font-size: 30pt;
    text-align: center;
    color: white;
    border-bottom: 3px solid white;
}
.texto{
    padding-top:20px; 
    font-family: ‘Roboto’;
    color: #686868;
    font-size: 16pt;
}
.registro-nav{
    margin: 0 auto;
        width: 100px;
    color: #204478;
    border: 2px solid #204478;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    
    
}
.espacio{
    margin-bottom: 10px;
}
.navbar {
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    color: white;
}

.indicadores {
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
}
.texto-white{
    color: white;


}
.texto-white h5{
    color: white;


}

.iconos{
    color: white;
    border: 1px solid white;
  padding: 20px;
}
.social{
    font-size: 25px !important;
     color: white;
     padding-top: 15px;
}
.menu{
    /*color:white;*/
    /*position: sticky !important;*/
    position: sticky;
    /*padding-bottom: 10px;*/
    /*top: 30px;*/
}
.link{
    font-weight: bold;
    color: #0b66a9;
}

.logo{
    padding: 10px;
}
.centro{
    text-align: center;
}
/*BARRA DE EDITAR*/

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 0px 0px 0px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar li{
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
  z-index: 999;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
  z-index: 999;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin-top: 0px;
    z-index: 9;
  }


  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li:before {
    background: #ddd;
    border: 2px solid #FFF;
    color: #fff;
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}

/*SUBIR FOTO*/

.upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.custom_file:hover img 
{
    transform: scale(1.2);
}

/*Brand Section
=========================*/
.brand_item img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.6s;
  
}
.brand_item img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.filtros{
  overflow: auto;
  max-height: 200px;
}

.btn-primary{
    color: #fff;
    background-color: #204478;
    border-color: #204478;
}

/*.btn-primary:hover{
    transition: 0.3s;
    background-color: #204478;
}

.btn-primary:active{
    transition: 0.3s;
    background-color: #204478;
}

.btn-primary:focus{
    transition: 0.3s;
    background-color: #204478;
    transition: 0.3s;
    background-color: #204478;
}

.btn-primary:active{
    transition: 0.3s;
    background-color: #204478;
}

.btn-primary:focus{
    transition: 0.3s;
    background-color: #204478;
}*/

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204478;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #204478;
    border-color: #204d74;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #204478;
    border-color: #122b40;
}

/*clases de error*/

.errorClass{
    color: red;
    position: absolute;
    font-size: 12px;
    font-family: ‘Roboto’, sans-serif !important;
    font-weight: bold;
    top: -15px;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

#barra{
    background-color: #4b98dd;
    color: white;
    padding-top: 5px;
}

#btn-filtro-1{
    background-color: #f2f2f2;
    border-color: none;
    color: #939393;
    border-radius: 10px;
}

#icono-filtro{
    border: 0;
    background-color: #f2f2f2;
    padding:0px; 
    cursor:pointer;
}
/*.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}*/

.msgError{
    margin: 16px 0 16px 0 !important;
}

.imagen-perfil img{
    width: 120px;
    height: 120px;
}

.ordenamientos{
    padding-right: 0px;
}

.etiquetaBody{
  font-size:12px;
}

.subt{
    font-family: 'Roboto';
    font-size: 30pt;
    text-align: center;
    padding-top: 10px;
    color: #204478;
}
.flex-container {
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap;
}

.flex-item {
    display:block ;
}
.btn-bottom{
    position: absolute; bottom:5px; left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.contenido-modal-rec{
    font-family: Roboto;
    color: #000000;
    font-size: 13pt;
    margin-right: 15px;
    /*padding-top: 30px;*/
    /*text-transform: uppercase;*/
}
.contenido-modal-list{
    font-family: Roboto;
    color: #000000;
    font-size: 13pt;
    margin-right: 15px;
    /*padding-top: 30px;*/
    /*text-transform: uppercase;*/
}
.qs-subt-1{
    font-family: Roboto;
    color: #204478;
    font-size: 28pt;
    padding-top: 30px;
    text-transform: uppercase;
}

.canea-text-modal{
    background-color: transparent;
    text-align: center;
    font-weight: 1000;
    font-family: ‘Antipasto’;
    color: #204478;
}


/************************************************************nuevos estilos*************************************/
#opcional{
    font-size: 10px;;
}

.restante{
    margin-top:30px; 
    margin-bottom:15px;
}

.errorClass{
    color: red;
    position: absolute;
    font-size: 12px;
    font-family: ‘Roboto’, sans-serif !important;
    font-weight: bold;
    top: -15px;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

.imagen-perfil-2{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 50px;
    width: 50px;
    border-radius: 50%;

    background: #22242a;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}


/************************************************************nuevos estilos*************************************/
#opcional{
    font-size: 10px;;
}

.restante{
    margin-top:30px; 
    margin-bottom:15px;
}

.errorClass{
    color: red;
    position: absolute;
    font-size: 12px;
    font-family: ‘Roboto’, sans-serif !important;
    font-weight: bold;
    top: -15px;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

/**BOTONES**/

.btn-minimalist{
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
        position: relative;
    display: block;
}
.btn-min-light{
    color: #4b98dd;
    background-color: transparent;
    border: 2px solid #4b98dd;
    /*padding: 10px 30px;*/

    text-transform: uppercase;
    
}
.btn-minimalist-blue{
    background-color: transparent;
    border: 2px solid #204478;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}

.btn-minimalista{
    background-color: transparent;
    border: 2px solid #fff;
    margin: 10px;
    color: white;
    padding: 10px 20px;
}
.btn-minimalista a{
    color: white;
    font-size: 16pt;
}

.btn-minimalista:hover{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: transparent;
}
.btn-minimalista:hover a{
    color: white;
    text-decoration: none;
 }
.btn-red{
    border-color: transparent;
    font-family: ‘Roboto’;
    font-size: 16pt;
    background-color: #ad3131;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid transparent;
}
.btn-red a{
    color: white;
    text-decoration: none;
}
.btn-red:hover{
    color: #ad3131;
    border: 2px solid #ad3131;
    background-color: transparent;
    text-decoration: none;
}
.btn-red:hover a{
    color: #ad3131;
    text-decoration: none;
 }
.btn-light-blue{
    border-color: transparent;
    font-family: ‘Roboto’;
    font-size: 16pt;
    background-color: #4b98dd;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: bold;
    margin-bottom: 20px;    
    border: 2px solid transparent;
    line-height: normal;
}
.btn-light-blue a{
    color: white;
    text-decoration: none;
}
.btn-light-blue:hover{
    color: #4b98dd;
    border: 2px solid #4b98dd;
    background-color: transparent;
    text-decoration: none;
}
.btn-light-blue:hover a{
    color: #4b98dd;
    text-decoration: none;
 }
.btn-blue{
    border-color: transparent;
    font-family: ‘Roboto’;
    font-size: 16pt;
    background-color: #204478;
    color: white;
    text-transform: uppercase;
    /*padding: 10px 40px;*/
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid transparent;    
    line-height: normal;
    cursor: pointer;
}
.btn-blue.disabled{
    background-color: #303d4c;
    color: #989899;
    cursor: not-allowed;
}
.btn-blue.disabled:hover{
    background-color: #303d4c;
    color: #989899;
    cursor: not-allowed;
}
.btn-blue.disabled:hover a{
    background-color: #303d4c;
    color: #989899;
    cursor: not-allowed;
 }
.btn-blue a{
    color: white;
}
.btn-blue:hover{
    color: #204478;
    border: 2px solid #204478;
    background-color: transparent;
    text-decoration: none;
}
.btn-blue:hover a{
    color: #204478;
    text-decoration: none;
 }
/*-------------------------------------*/
.metodoTexto{
    text-align: center;
    color: black;
}
.navbar-nav > li > a.dropdown-toggle {
    padding-top: 10px;
}

.bloque-gris{
    background-color: #efefef;
    display: block;
    margin-top: 20px;
    padding: 40px 0px 40px 0px;
 }

 .btn-min-light:hover{
    text-decoration: none;
    background-color: #4b98dd;
    color: white;
 }



/*.equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div[class*='col-'] {
  flex:1 1 auto;
  /*background: lightblue;*/
  /*display: flex;*/
}
.panel1 {
  flex:1 0 100%;
}


/*.LogMic{
    background-color: white;
    padding: 100px;

}*/

.loaderMic{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: black;
    opacity: 0.5;
}

 .btn-light-blue.disabled{
    background-color: #4d5f73;
    color: #989899;
    cursor: not-allowed;
}
.btn-light-blue.disabled:hover{
    background-color: #4d5f73;
    color: #989899;
    cursor: not-allowed;
}
.btn-light-blue.disabled:hover a{
    background-color: #4d5f73;
    color: #989899;
    cursor: not-allowed;
}