.chart-first{ fill:#8C9091; }
.chart-second{ fill:#CE9F59; }
.chart-third { fill:#485A8C; }
.needle, .needle-center{ fill:#000000; }
.progress-bar-danger { background-color:#8c9091; }
@media screen and (max-width: 600px) {
  .chart-gauge{ width:270px;height:210px; } 
}
@media screen and (min-width: 600px) {
  .chart-gauge{ width:400px;height:210px; } 
}