#AuthName "Restricted Area"
#AuthType Basic
#AuthUserFile /home/micamellocom/public_html/desarrollo/.htpasswd
#AuthGroupFile /dev/null
#require valid-user

#ErrorDocument 404 /repos_micamello/error/paginanoencontrada.php
#ErrorDocument 401 /repos_micamello/error/loginrequerido.php
#ErrorDocument 403 /repos_micamello/error/accesodenegado.php

<IfModule mod_headers.c> 
  <FilesMatch "\\.(ico|css|png|gif|swf)$"> 
    Header set Cache-Control "max-age=2628000, public" 
  </FilesMatch> 
  <FilesMatch "\\.(x?html?|php)$"> 
    Header set Cache-Control "max-age=172800, public" 
  </FilesMatch> 
</IfModule>

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?micamello.com.ec/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://(www\.)?micamello.com.ec/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost/.*$ [NC]
RewriteRule \.(gif|jpg|jpeg|png|js|css)$ - [F]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{REQUEST_URI} !^/repos_micamello$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

Options -Indexes

########################################

# RewriteBase - Production
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/]
# RewriteBase - Development
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/repos_micamello/]

########################################

#imagenes del profile
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|pdf|doc|docx)$ [NC]
RewriteRule ^imagenes/usuarios/([a-z]+)/(.*)$ %{ENV:REWRITEBASE}archivo.php?carpeta=$1&archivo=$2 [L]
RewriteRule ^hojasDeVida/([a-z0-9]+).([a-z]+)$ %{ENV:REWRITEBASE}archivo.php?carpeta=hv&param1=$1&param2=$2 [L]
#login
RewriteRule ^login/?$ %{ENV:REWRITEBASE}index.php?mostrar=login [L]


#contrasena
RewriteRule ^contrasena/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena [L]
RewriteRule ^contrasena/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena&opcion=recuperacion&token=$1 [L]


#registro
RewriteRule ^registro/$ %{ENV:REWRITEBASE}index.php?mostrar=registro [L]
RewriteRule ^registro/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=registro&opcion=activacion&token=$1 [L]


#perfil
RewriteRule ^perfil/$ %{ENV:REWRITEBASE}index.php?mostrar=perfil [L]

#logout
RewriteRule ^logout/$ %{ENV:REWRITEBASE}index.php?mostrar=logout [L]


#cuestionarios
RewriteRule ^cuestionario/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario [L]

###########################################################################################################################################################

#velocimetro
RewriteRule ^velocimetro/$ %{ENV:REWRITEBASE}index.php?mostrar=velocimetro [L]

###########################################################################################################################################################

#publicar
RewriteRule ^publicar/$ %{ENV:REWRITEBASE}index.php?mostrar=publicar [L]

###########################################################################################################################################################

#planes
RewriteRule ^compraplan/paypal/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=paypal [L]
RewriteRule ^compraplan/deposito/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=deposito [L]
RewriteRule ^compraplan/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=compra&idplan=$1 [L]
RewriteRule ^planes/$ %{ENV:REWRITEBASE}index.php?mostrar=plan [L]
RewriteRule ^planesUsuario/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=planes_usuario [L]
RewriteRule ^planesUsuario/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=planes_usuario&desactivarPlan=$1 [L]


#ofertas

RewriteRule ^oferta/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=oferta [L]
RewriteRule ^oferta/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=oferta&page=$1 [L]
RewriteRule ^detalleOferta/([a-z]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=detalleOferta&vista=$1&id=$2 [L]

###########################################################################################################################################################

#postulaciones
RewriteRule ^postulacion/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion [L]

RewriteRule ^postulacion/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion&page=$1 [L]
RewriteRule ^postulacion/([a-z])+/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion&param=$1&eliminarPostulacion=$2 [L]

###########################################################################################################################################################

#filtros
RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&page=$7 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}([^.]+))/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&param2=$4&param3=$5&page=$6 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&param2=$4&page=$5 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&page=$4 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&param2=$4&param3=$5&page=$6 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&param2=$4&page=$5 [L]

RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&page=$4 [L]

###########################################################################################################################################################

#Inicio
RewriteRule ^recomendacion/$ %{ENV:REWRITEBASE}index.php?mostrar=recomendacion [L]

###########################################################################################################################################################

#Vacantes
RewriteRule ^vacantes/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=vacantes [L]
RewriteRule ^vacantes/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=vacantes&page=$1 [L]

###########################################################################################################################################################

#Aspirantes
RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&id_oferta=$1&page=$2 [L]
RewriteRule ^verAspirantes/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&id_oferta=$1 [L]


RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&param7=$9&param8=$10&page=$11 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&param7=$9&page=$10 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&page=$9 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&page=$8 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&page=$7 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&page=$6 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&page=$5 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&page=$4 [L]



RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&param7=$9&param8=$10&page=$11 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&param7=$9&page=$10 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&param6=$8&page=$9 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&param5=$7&page=$8 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&param4=$6&page=$7 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&param3=$5&page=$6 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&param2=$4&page=$5 [L]

RewriteRule ^verAspirantes/([0-9]+)/([0-9]+)/([A-Z]{1}[0-9]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&id_oferta=$1&type=$2&param1=$3&page=$4 [L]
RewriteRule ^aspirante/([A-Za-z0-9]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=detallePerfil&username=$2 [L]
###########################################################################################################################################################

#informePDF

RewriteRule ^informePDF/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=informePDF&username=$1 [L]


