ErrorDocument 404 /error/page_not_found.html
ErrorDocument 401 /error/login_required.html

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?micamello.ec/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost/.*$ [NC]
RewriteRule \.(gif|jpg|js|css)$ - [F]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{REQUEST_URI} !^/repos_micamello$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

####################################################################

# RewriteBase - Production
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/]
# RewriteBase - Development
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule . - [E=REWRITEBASE:/repos_micamello/]

#login
RewriteRule ^login/$ %{ENV:REWRITEBASE}index.php?mostrar=login [L]

#contrasena
RewriteRule ^contrasena/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena [L]
RewriteRule ^contrasena/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena&opcion=recuperacion&token=$1 [L]

#registro
RewriteRule ^registro/$ %{ENV:REWRITEBASE}index.php?mostrar=registro [L]
RewriteRule ^registro/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=registro&opcion=activacion&token=$1 [L]

#perfil
RewriteRule ^perfil/$ %{ENV:REWRITEBASE}index.php?mostrar=perfil [L]
RewriteRule ^editarperfil/$ %{ENV:REWRITEBASE}index.php?mostrar=perfil&opcion=paso1 [L]

#logout
RewriteRule ^logout/$ %{ENV:REWRITEBASE}index.php?mostrar=logout [L]

#cuestionarios
RewriteRule ^cuestionario/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario [L]

#velocimetro
RewriteRule ^velocimetro/$ %{ENV:REWRITEBASE}index.php?mostrar=velocimetro [L]