#AuthName "Restricted Area"
#AuthType Basic
#AuthUserFile /home/micamellocom/public_html/desarrollo/.htpasswd
#AuthGroupFile /dev/null
#require valid-user

#ErrorDocument 404 /repos_micamello/error/paginanoencontrada.php
#ErrorDocument 401 /repos_micamello/error/loginrequerido.php
#ErrorDocument 403 /repos_micamello/error/accesodenegado.php

#<IfModule mod_headers.c> 
#  <FilesMatch "\\.(ico|css|png|gif|swf)$"> 
#    Header set Cache-Control "max-age=2628000, public" 
#  </FilesMatch> 
#  <FilesMatch "\\.(x?html?|php)$"> 
#    Header set Cache-Control "max-age=172800, public" 
#  </FilesMatch> 
#</IfModule>

#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?micamello.com.ec/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^https://(www\.)?micamello.com.ec/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://localhost/.*$ [NC]
#RewriteRule \.(gif|jpg|jpeg|png|js|css)$ - [F]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{REQUEST_URI} !^/repos_micamello$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

Options -Indexes

########################################

# RewriteBase - Production
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/]
# RewriteBase - Development
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/repos_micamello/]

########################################

#imagenes del profile

#RewriteCond %{REQUEST_URI} \.(jpg|jpeg|pdf|doc|docx)$ [NC]
RewriteRule ^imagenes/imgperfil/([a-z0-9]+)/$ %{ENV:REWRITEBASE}archivo.php?carpeta=imgperfil&param1=$1 [L]
RewriteRule ^imagenes/usuarios/([a-z0-9]+)/$ %{ENV:REWRITEBASE}archivo.php?carpeta=profile&param1=$1 [L]
RewriteRule ^hojasDeVida/([a-z0-9]+)/$ %{ENV:REWRITEBASE}archivo.php?carpeta=hv&param1=$1 [L]
RewriteRule ^hojasDeVida/([a-z0-9]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}archivo.php?carpeta=hv&param1=$1&param2=$2 [L]

#login
RewriteRule ^login/?$ %{ENV:REWRITEBASE}index.php?mostrar=login [L]

#contrasena
RewriteRule ^contrasena/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena [L]
RewriteRule ^contrasena/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena&opcion=recuperacion&token=$1 [L]
RewriteRule ^cambioClave/$ %{ENV:REWRITEBASE}index.php?mostrar=contrasena&opcion=cambioContrasena [L]

#registro
RewriteRule ^registro/$ %{ENV:REWRITEBASE}index.php?mostrar=registro [L]
RewriteRule ^registroUsuario/$ %{ENV:REWRITEBASE}index.php?mostrar=registro&opcion=procesoGuardar [L]
RewriteRule ^registro/([^.]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=registro&opcion=activacion&token=$1 [L]

#perfil
RewriteRule ^perfil/$ %{ENV:REWRITEBASE}index.php?mostrar=perfil [L]

#logout
RewriteRule ^logout/$ %{ENV:REWRITEBASE}index.php?mostrar=logout [L]

#cuestionarios
RewriteRule ^cuestionario/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario [L]
RewriteRule ^modalidad/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario&opcion=modalidad [L]
RewriteRule ^preguntas/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario&opcion=preguntas [L]
RewriteRule ^cuestionario/guardarResp/$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionario&opcion=guardarResp [L]

#####################################################################################

#velocimetro
RewriteRule ^velocimetro/$ %{ENV:REWRITEBASE}index.php?mostrar=velocimetro [L]

######################################################################################

#publicar
RewriteRule ^publicar/$ %{ENV:REWRITEBASE}index.php?mostrar=publicar [L]
RewriteRule ^registroOferta/$ %{ENV:REWRITEBASE}index.php?mostrar=publicar&opcion=registroOferta [L]



######################################################################################

#planes
RewriteRule ^compraplan/exito/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=resultado&mensaje=exito [L]
RewriteRule ^compraplan/error/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=resultado&mensaje=error [L]
RewriteRule ^compraplan/deposito/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=deposito [L]
RewriteRule ^compraplan/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=compra&idplan=$1 [L]
RewriteRule ^planes/$ %{ENV:REWRITEBASE}index.php?mostrar=plan [L]
RewriteRule ^planesUsuario/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=planes_usuario [L]
RewriteRule ^planesUsuario/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=plan&opcion=planes_usuario&desactivarPlan=$1 [L]

######################################################################################

#ofertas
RewriteRule ^oferta/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=oferta [L]
RewriteRule ^oferta/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=oferta&page=$1 [L]
RewriteRule ^convertir/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=convertirOferta [L]
RewriteRule ^detalleOferta/([a-z]+)/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=detalleOferta&vista=$1&id=$2 [L]

######################################################################################

#postulaciones
RewriteRule ^postulacion/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion [L]
RewriteRule ^postulacion/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion&page=$1 [L]
RewriteRule ^postulacion/([a-z])+/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion&param=$1&eliminarPostulacion=$2 [L]
RewriteRule ^postulacion/([a-z])+/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&vista=postulacion&param=$1&eliminarPostulacion=$2&empresa=$3 [L]

######################################################################################

#filtros
RewriteRule ^([a-z]+)/([0-9]+)/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=filtrar&vista=$1&type=$2&param1=$3&page=$4 [L]

#######################################################################################

#Inicio
RewriteRule ^recomendacion/$ %{ENV:REWRITEBASE}index.php?mostrar=recomendacion [L]

#########################################################################################

#Cuentas
RewriteRule ^adminEmpresas/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa [L]
RewriteRule ^adminEmpresas/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa&page=$1 [L]

RewriteRule ^eliminarPlanEmpresa/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa&opcion=eliminar&idPlanEmpresa=$1 [L]

RewriteRule ^asignarPlanEmpresa/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa&opcion=crearPlan&idSubEmpresa=$1 [L]

RewriteRule ^editarPlanEmpresa/([a-zA-Z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa&opcion=editarPlan&idPlanEmpresa=$1 [L]

RewriteRule ^crearEmpresas/$ %{ENV:REWRITEBASE}index.php?mostrar=subempresa&opcion=crearEmpresas [L]
RewriteRule ^cuentas/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=cuentas [L]
RewriteRule ^cuentas/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=cuentas&page=$1 [L]

#########################################################################################

#Vacantes
RewriteRule ^vacantes/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=vacantes [L]
RewriteRule ^vacantes/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=vacantes&page=$1 [L]
RewriteRule ^vacantes/([A-Za-z0-9]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=oferta&opcion=vacantes&idOferta=$1&page=$2 [L]
########################################################################################

#Aspirantes
RewriteRule ^verAspirantes/([0-9]+)/([A-Za-z0-9]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&vista=$1&id_oferta=$2&page=$3 [L]

RewriteRule ^verAspirantes/([0-9]+)/([A-Za-z0-9]+)/([0-9]+)/([A-Z]{1}[^.]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=filtrar&vista=$1&id_oferta=$2&type=$3&param1=$4&page=$5 [L]
###########################################################################################################################################

#generarPDF
RewriteRule ^fileGEN/([A-Za-z]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=fileGEN&opcion=$1&username=$2 [L]

RewriteRule ^fileGEN/([A-Za-z]+)/([A-Za-z]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=fileGEN&opcion=$1&tipo=$2&idFactura=$3 [L]

RewriteRule ^fileGEN/([A-Za-z]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=fileGEN&opcion=$1&idPlan=$2&idOferta=$3&username=$4 [L]

#datosPDF
RewriteRule ^fileGEN/([A-Za-z]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=fileGEN&opcion=$1&username=$2&vista=$3&id_oferta=$4 [L]

#Aspirantes
RewriteRule ^aspirante/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=aspirante&opcion=detallePerfil&username=$1&id_oferta=$2&vista=$3 [L]

#Minisitio
RewriteRule ^filtrarEntrevistados/([A-Z]{1}[0-9_]{1,})/([0-9]+)/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=filtrar&param1=$1&type=$2&metodo=$3 [L]

RewriteRule ^filtrarEntrevistados2/([A-Z]{1}[0-9_]{1,})/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=filtrar2&param1=$1&type=$2 [L]

RewriteRule ^admin/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio [L]

RewriteRule ^admin2/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=admin2 [L]

RewriteRule ^admin/generarExcel/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=generarExcel [L]

RewriteRule ^generaInforme/([0-9]+)/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=generaInforme&id_usuario=$1 [L]

RewriteRule ^generaGrafico/$ %{ENV:REWRITEBASE}index.php?mostrar=minisitio&opcion=generaGrafico [L]

#preguntas
RewriteRule ^registroM/?$ %{ENV:REWRITEBASE}index.php?mostrar=regtest [L]

#Registrodatostest
RewriteRule ^registrodatostest/?$ %{ENV:REWRITEBASE}index.php?mostrar=regtest&opcion=guardardatostest [L]

#inicioTest
RewriteRule ^test/?$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionariom2 [L]

#RegistroRespuestas
RewriteRule ^registroresp/?$ %{ENV:REWRITEBASE}index.php?mostrar=cuestionariom2&opcion=guardarresp [L]

#HvUsuario
RewriteRule ^hvUsuario/([A-Za-z0-9]+)/([0-9]+)/([0-9]+)/?$ %{ENV:REWRITEBASE}index.php?mostrar=fileGEN&opcion=hvUsuario&username=$1&id_oferta=$2&vista=$3 [L]

#RegistroRespuestas
RewriteRule ^canea/$ %{ENV:REWRITEBASE}index.php?mostrar=inicio&opcion=canea [L]
RewriteRule ^quienesSomos/$ %{ENV:REWRITEBASE}index.php?mostrar=inicio&opcion=quienesSomos [L]